@import "../../../data/styles.css";

.homepage-apps {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 20;
	/* transform: translateY(50px); */
}

.homepage-app {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background: transparent;
	border: none;
	padding: 0;
	cursor: default;
	pointer-events: auto;
	width: 60px;
}

.homepage-app:active {
	cursor: grabbing;
}

.homepage-app-image {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
	border: 1px solid #e6e6e6;
}

.homepage-app-label {
	font-weight: 700;
	font-size: 14px;
	color: var(--primary-color);
	text-align: center;
}

.homepage-app-active {
	position: absolute;
	top: -6px;
	left: 50%;
	width: 86px;
	height: calc(100% + 12px);
	background: rgba(207, 232, 255, 0.6);
	border-radius: 6px;
	transform: translateX(-50%);
	z-index: -1;
	pointer-events: none;
}

.homepage-app-active.hidden {
	display: none;
}

@media (max-width: 768px) {
	.homepage-app {
		width: 72px;
	}

	.homepage-app-label {
		font-size: 12px;
		text-align: center;
	}
}
