.overlay-simple {
	position: absolute;
	width: 100%;
	height: 120%;
	background: #d9d9d9;
	border-radius: 6px;
	border: 4px solid #b7b7b7;
	box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.30);
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
	user-select: none;
	
}

.overlay-simple-topbar {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 3px 10px;
	background: #cfcfcf;
	border-bottom: 3px solid #b7b7b7;
}

.overlay-simple-title {
	background: #ffffff;
	border: 3px solid #8f8f8f;
	padding: 0px 10px;
	font-weight: 700;
	font-size: 12px;
	color: #111111;
}

.overlay-simple-drag {
	flex: 1;
	height: 16px;
	border: 3px solid #8f8f8f;
	background: repeating-linear-gradient(
		90deg,
		#8f8f8f 0 12px,
		#d9d9d9 12px 24px
	);
	cursor: grab;
}

.overlay-simple.dragging .overlay-simple-drag {
	cursor: grabbing;
}

.overlay-simple-body {
	flex: 1;
	background: #d9d9d9;
	padding: 10px;
	display: flex;
}

.overlay-simple-content {
	flex: 1;
	display: flex;
}

.overlay-simple-content > * {
	flex: 1;
}

.overlay-simple.small {
	width: 50%;
	height: 70%;
}
